/* *  Navigation Style  * */

.navbar {
  background: navy;

  /* opacity: 1; */
}

.navbar-nav a {
  color: lightgrey;
  margin: 0 30px;
}

.navbar-toggler {
  color: white;
  border: none;
  outline: none !important;
}

.navbar-toggler .fa {
  color: white;
  font-size: 26px;
}

.nav-link:hover {
  color: white;
}

#header .btn {
  border: 1px solid white;
  margin-top: 20px;
  padding: 6px 26px;
  font-size: 16px;
}
