* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(153, 147, 147);
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: white;
}

/* *  Navigation Style  * */

.navbar {
  background: rgb(40, 40, 83);
  color: white;
  /* opacity: 1; */
}

.navbar-nav a {
  color: lightgrey;
  margin: 0 30px;
}

.navbar-toggler {
  color: white;
  border: none;
  outline: none !important;
}

.navbar-toggler .fa {
  color: white;
  font-size: 26px;
}

.nav-item {
  margin: 0px 50px;
}

.nav-item:link,
.nav-item:visited,
.nav-item:hover,
.nav-item:active {
  color: white;
}

#header .btn {
  border: 1px solid white;
  margin-top: 20px;
  padding: 6px 26px;
  font-size: 16px;
}

/* * About Section * */

#about {
  color: rgb(54, 54, 54);
}

.container {
  background-color: rgb(235, 231, 231);
  box-shadow: 3px 3px 5px;
  margin-top: 20px;
}

.container-fluid h2,
.port-style h2 {
  text-align: center;
  margin-bottom: 5px;
  padding-top: 30px;
}

.container-fluid hr,
.port-style hr {
  background: rgb(214, 211, 211);
  margin: 0 200px;
}

.style-row {
  padding-top: 10px;
}

.style-col {
  margin: auto;
  padding: 20px;
}

.style-col img {
  margin-left: 25%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.style-col p {
  font-size: 15px;
}

.style-col h4 {
  margin-bottom: 20px;
}

.style-col span {
  font-size: 18px;
  color: #6190c5;
  margin-right: 20px;
}

.links {
  text-align: center;
  margin: auto;
}

.links span {
  margin: 0 10px;
}

.links span i {
  color: #3276a3;
}

/** Pojects Section **/
#portfolio {
  color: rgb(54, 54, 54);
}

.port-style {
  background: rgb(235, 231, 231);
  margin-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.port-style .col {
  margin-bottom: 50px;
}

.card {
  text-align: center;
  background: rgb(224, 224, 224);
  box-shadow: 2px 3px 5px black;
  margin-top: 30px;
}

.card img {
  padding: 10px;
}

.card h5 {
  font-weight: bold;
}

.card-header button {
  margin: auto 0px;
}

.btn-link {
  color: #4f738f;
  font-size: 17px;
}

.btn-link:link,
.btn-link:visited {
  color: #4f738f;
  text-decoration: none;
}

.btn-link:hover,
.btn-link:active {
  color: #0f80d1;
  text-decoration: none;
}

.card-btn {
  background: #539ed4;
  color: white;
  margin: 10px;
}

.card-btn:link,
.card-btn:visited {
  color: white;
}

.card-btn:hover {
  font-size: 17px;
}

/**  Contact Section **/
.contact-list li {
  list-style: none;
  margin-top: 20px;
}

.contact-list li i {
  color: #4f738f;
}

/* *  Footer Style  * */

.footer-div {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.footer-div span {
  font-size: 15px;
  color: white;
  margin: 20px;
}
